/*Top bar*/
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  background-color: #293132;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

/*Bg color*/
body {
  background-color: #E8F0FF;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

/*fix margin*/
.content {
  padding: 10px;
  max-width: 1000px;
  margin: 0;
  flex: 1;
}

/*Fonts and text size*/
p {
  font-size: 19px;
}

h1 {
  font-size: 30px;
}

/*sig JP*/
h3 {
  font-size: 20px;
}

/*grid /hover*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #293132;
  color: aliceblue;
  margin-top: auto;
}